#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        
      zmk_unlock: zmk_unlock {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <10000>;  //10 second hold
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&studio_unlock>, <&kp>;
      };

      mode_diag: mode_diag {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = <10000>; //10 second hold
        quick-tap-ms = <0>;
        flavor = "tap-preferred";
        bindings = <&to>, <&kp>;
      };

      morph_BSPCDEL: morph_BSPCDEL {
        compatible = "zmk,behavior-mod-morph";
        #binding-cells = <0>;
        bindings = <&kp BSPC>, <&kp DEL>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };

    };


    keymap {

        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &zmk_unlock 0 TAB &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &kp P &morph_BSPCDEL
    &kp LCTRL &kp A &kp S &kp D &kp F &kp G             &kp H &kp J &kp K &kp L &kp SQT &kp RET
    &kp LSHFT &kp Z &kp X &kp C &kp V &kp B             &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RGUI
                  
              &kp LALT &kp SPACE &mode_diag 1 ESC    &mo 2 &mo 3 &mo 4
            >;
        };

        layer_1 {
            bindings = <
    &none &none &none &none &none &bootloader     &bootloader &none &none &none &none &none
    &none &none &none &none &none &none           &none &none &none &none &none &none
    &none &none &none &none &none &none           &none &none &none &none &none &none
                      
        &none &none &mode_diag 0 ESC              &none &none &none

            >;
        };

        layer_2 {
            bindings = <
    &none &none &none &none &kp MINUS &kp EQUAL           &none &none &none &none &none &none
    &none &kp N1 &kp N2 &kp N3 &kp N4 &kp N5      &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &none
    &none &none &none &none &none &none           &none &none &none &none &none &none
                      
                      &none &none &kp LSHFT           &none &none &none
            >;
        };

        layer_3 {
            bindings = <
    &none &none &none &none &kp COLON &kp LPAR     &kp RPAR &kp SEMI &none &none &none &none
    &none &none &none &none &kp GRAVE &kp LBRC     &kp RBRC &kp BSLH &none &none &none &none
    &none &none &none &none &none &kp LBKT         &kp RBKT &none &none &none &none &none
                      
                      &none &none &kp LSHFT           &none &none &none
            >;
        };

        layer_4 {
          bindings = <
    &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6       &none &none &kp UP &none &none &none
    &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12    &none &kp LEFT &kp DOWN &kp RIGHT &none &none
    &none &none &none &none &none &none             &none &none &none &none &none &none
                      
                      &none &none &none             &none &none &none

            >;
        };
    };
};
