if SHIELD_JCSPLIT_LEFT
  config ZMK_KEYBOARD_NAME
    default "JCsplit"
  config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_JCSPLIT_LEFT || SHIELD_JCSPLIT_RIGHT
  config ZMK_SPLIT
    default y
endif

